@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.statusColoumn {
  @apply bg-emerald-50 rounded-md p-3
}
.statusText {
  @apply text-center font-medium text-lg underline underline-offset-1
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}